---
layout: deabuteChat.njk
title: Deabute Chat
---
<span style="float:left" id="sessionInd" hidden>
    <label for=timebox> Next Matching Session:</label>
    <span name=timebox id="timebox">¯\_(ツ)_/¯</span>
</span>
<br>
<span style="float:left" id="poolInd" hidden>
    <label for="pool">Pool:</label>
    <span name="pool" id="pool">?</span>
</span>
<br>
<br>
<span id="discription" style="float:left">Welcome! This is an app that connects you with new people through voice</span>
<form id="promptForm" hidden>
    <p id="promptFeild"></p>
    <div id='formAnswers'></div>
    <button type="submit">Submit</button>
</form>
<br>
<textarea id="setupInput" rows="1" cols="16" hidden>Anonymous</textarea>
<button onclick="app.setup()" type="button" id='setupButton' hidden></button>
<br>
<button type="button" id='connectButton' hidden></button>
<audio id="mediaStream" autoplay> unsuported </audio>
