---
layout: dropin.njk
title: Deabute Chat
---

<p id="lobby">...Loading...</p>
<button onclick="lobby.ready()" type="button" id='readyButton' hidden>Ready?</button>
<audio id="mediaStream" autoplay> unsuported </audio>
