---
layout: dropin.njk
title: Deabute Chat
---

<h3 id="lobby">...Loading...</h3>
<button onclick="lobby.ready()" type="button" id='readyButton' hidden>Ready?</button>
<audio id="mediaStream" autoplay> unsuported </audio>
